/* ====================
        Imports
=======================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* ====================
     Utility Styles
=======================*/

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* ====================
  Header Section Styles
=======================*/

header {
    background-color: #2D25A0;
    height: 700px;
}

.flex {
    display: flex;
}

.flex-50 {
    width: 50%;
}

.header-intro {
    margin: 150px 0 170px 156px;
}

.header-intro h1 {
    color: #FFFFFF;
    ;
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    padding-right: 200px;
}

a.btn {
    text-decoration: none;
    color: #ffffff;
    background-color: #E02C6D;
    font-weight: 500;
    padding: 10px 24px;
}

a:hover .fa-arrow-right{
    transform: translateX(10px);
    transition: .4s;
}

.header-banner img {
    width: 556px;
    height: 438px;
    margin-top: 130px;
}

.header-banner img:hover {
    transform: translate(20px, -30px);
    transition: 0.5s;
}



/* ====================
  Players Section Styles
=======================*/


.players {
    
}

.players-details {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5% 15%;
}

.players img{
    Width: 300px;
    Height: 256px;
    margin: 15px;
}

.players h3 {
    color: #18191F;
    font-weight: 700;
    font-size: 28px;
    margin: 15px 15px 10px;
}

.players p {
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 0 15px 30px;
}

.player {
    box-shadow: 5px 5px 40px gray;
    margin: 15px;
}


/* =======================
Highlights Section Styles
==========================*/

.highlights {
    padding: 100px 0 150px;
    margin: 0 15%;
}

.highlights-intro h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    padding-right: 100px;
    margin-bottom: 10px;
}

.highlights-intro p {
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 25px;
    padding-right: 165px;

}

.highlights-banner img {
    width: 567px;
    height: 427px;
    box-shadow: 5px 5px 40px gray;
}


/* =======================
Gallery Section Styles
==========================*/

.gallery {
    width: 80%;
    padding: 5% 10%;
}

.gallery h2 {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.gallery-images img {
    width: 300px;
    height: 200px;
}

.gallery-images img:hover {
    transform: scale(1.1);
    transition: 0.4s;
}


/* =======================
Footer Section Styles
==========================*/

footer {
    margin-top: 100px;
    text-align: center;
    padding-bottom: 50px;
}

footer .site-logo {
    width: 480px;
    height: 110px;
    margin-bottom: 20px;
}

.social-logos i {
    color: #969BAB;
    background-color: #e0e0e0;
    border-radius: 50%;
    padding: 10px;
  }

.social-logos i:hover {
    transform: scale(1.4);
    transition: 0.4s;
}

.copyright {
    margin-top: 40px;
}




/* =======================
   =======================     
        Media Queries
        =============
==========================
==========================*/

/* =======================
     For Mobile Devices
==========================*/

@media only screen and (max-width:688px) {
    
    header.flex {
        display: inline-block;
        height: 750px;
        overflow: hidden;
    }

    .header-intro {
        margin: 20px 15px;
        padding: 100px 65px 0 16px;
    }

    .header-intro.flex-50 {
        width: 100%;
        padding: 0;
        margin: 100px 0 0 20px;
    }

    .header-intro h1 {
        font-size: 36px;
        line-height: 50px;
        padding-right: 400px;
    }


    
    .header-banner img {
        width: 330px;
        height: 260px;
        margin-top: 100px;
        padding: 0 50%;
    }

   
    .players-details {
        width: 50%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 5% 25%;
        
    }

    .highlights.flex {
        display: inline-block;
    }

    .highlights-intro {
        width: 100%;
    }

    .highlights-intro h2 {
        font-size: 30px;
        line-height: normal;
        padding-right: 0;
    }

    .highlights-intro p {
        line-height: normal;
        padding-right: 0;
    }

    .highlights-banner img {
        width: 328px;
        height: 248px;
        margin: 20% 30%;
    }

    .gallery {
        display: inline-block;
        padding: 5% 20%;
    }













}


/* =======================
     For Tablet Devices
==========================*/

@media only screen and (min-width:689px) and (max-width:992px) {
    
}









